.mainback{background:url("../images/mainpage/main_background.png") no-repeat center center fixed;background-size:cover;}
.mainpageTop{margin:40px 0px 18px 0px;text-align:center}
.mainpageTopImg{width:69px;height:auto;}
.mainPlant1{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant1.png") no-repeat center bottom;background-size:44px}
.mainPlant2{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant2.png") no-repeat center bottom;background-size:47px}
.mainPlant3_1{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_1.png") no-repeat center bottom;background-size:37px}
.mainPlant3_2{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_2.png") no-repeat center bottom;background-size:38px}
.mainPlant3_3{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_3.png") no-repeat center bottom;background-size:41px}
.mainPlant3_4{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_4.png") no-repeat center bottom;background-size:33px}
.mainPlant3_5{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_5.png") no-repeat center bottom;background-size:35px}
.mainPlant3_6{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_6.png") no-repeat center bottom;background-size:35px}
.mainPlant3_7{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_7.png") no-repeat center bottom;background-size:37px}
.mainPlant3_8{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_8.png") no-repeat center bottom;background-size:40px}
.mainPlant3_9{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_9.png") no-repeat center bottom;background-size:33px}
.mainPlant3_10{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant3_10.png") no-repeat center bottom;background-size:36px}
.mainPlant4_1{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_1.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_2{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_2.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_3{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_3.png") no-repeat center bottom;background-size:64px;}
.mainPlant4_4{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_4.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_5{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_5.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_6{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_6.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_7{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_7.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_8{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_8.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_9{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_9.png") no-repeat center bottom;background-size:61px;}
.mainPlant4_10{width:130px;height:100px;position:absolute;top:-100px;left:95px;background:url("../images/mainpage/plant/plant4_10.png") no-repeat center bottom;background-size:61px;}

.mainpageMid{text-align:center;}
.mainpageMid p{font-size:28px;text-overflow:ellipsis;font-weight:bold;color:#ffffff;margin:0px 14px;word-break:keep-all;text-decoration-style:solid}
.mainpageMid .mainText1{border-bottom-width:3px;border-bottom-style:solid;padding-bottom:0.2px;color:#ffffff;line-height:2}
.mainParticle1{width:10px;position:absolute;top:-150px;left:12px;}
.mainParticle2{width:10px;position:absolute;top:-125px;left:37px;}
.mainParticle3{width:10px;position:absolute;top:-94px;left:37px;}
.mainParticle4{width:10px;position:absolute;top:-80px;left:55px;}
.mainParticle5{width:10px;position:absolute;top:-100px;left:250px;}
.mainParticle6{width:10px;position:absolute;top:-50px;left:280px;}
.mainParticle7{width:10px;position:absolute;top:-35px;left:260px;}
.mainParticle8{width:10px;position:absolute;top:-250px;left:280px;}
.mainParticle9{width:10px;position:absolute;top:-230px;left:300px;}
.tabCon{height:213px;margin:0px}
.dayTitle{margin:0px 0px 18px 0px;padding:45px 0px 0px 0px;font-size:12px;color:#000000}
.dayTitleLine{border-bottom-style:solid;border-bottom-color:#000000;border-bottom-width:1px;padding-bottom:3px;}
.daycontent{font-size:16px;color:#000000}
.clear{clear:both;height:0;visibility:hidden;display:block;}
a{text-decoration:none;}
#tab-container{position:fixed;bottom:0px;width:100%;}
#tab-container ul{margin:0px;list-style:none;list-style-position:outside;width:100%;padding:0px;}
#tab-container ul.tab-menu li{display:block;float:left;position:relative;font-weight:bold;padding:10px 0px 10px 0px;background:#662ac3;color:#9079bc;cursor:default;width:106px;text-align:center;font-size:16px;}
#tab-container ul.tab-menu li:last-child{display:block;float:left;position:relative;font-weight:bold;padding:10px 0px 10px 0px;background:#662ac3;color:#9079bc;cursor:default;width:107px;text-align:center;font-size:16px;}
#tab-container ul.tab-menu li:first-child{display:block;float:left;position:relative;font-weight:bold;padding:10px 0px 10px 0px;background:#662ac3;color:#9079bc;cursor:default;width:107px;text-align:center;font-size:16px;}
#tab-container ul.tab-menu li.active{background:#ffffff;color:#662ac3;text-align:center;}
.tab-content{margin:0 auto;background:#efefef;background:#fff;text-align:center;display:none;}
#tab-container div.active{display:block;}
p{font-size:15px;color:#7b7b7b;}
.popupView1{margin:0px;width:90%;background:#ffffff;text-align:center;display:none;position:absolute;left:50%;top:50%;z-index:3;border-radius:3px 3px 6px 6px;}
.popupView1.on{display:block}
.popupView1.on .popupView1Btn{width:100%;height:65px;background-color:#7336d0;border-radius:0px 0px 3px 3px;}
.popupView1.on .popupView1Btn p{color:#ffffff;font-size:16px;font-weight:bold;margin:0px;padding:20px 0px}
.popupView1 h1{margin:60px 0px 0px 0px;font-size:26px;font-weight:bold;text-decoration-style:solid}
.popupView1 h3{margin:41px 0px 0px 0px;font-size:15px;font-weight:bold;color:#767676}
.popupView1 .fightingText{margin:9px 0px 41px 0px;font-size:13px;color:#C2C2C2}
.popupView1 .popupText1{border-bottom-width:3px;border-bottom-style:solid;padding-bottom:8px}
.popupView1 input{margin:40px 0px 40px 0px;width:230px;background:#ffffff;text-align:center;font-size:14px;border-top-style:none;border-left-style:none;border-right-style:none;padding:9px}
.popupView1 .popupDeco{position:relative;width:41px;height:46px}
.popupView1 .popupDecoImg{position:relative;width:7px;height:7px}
.popupView1 .popupDecoText{position:absolute;top:13px;left:5px;color:#ffffff;font-size:9px;font-weight:bold;margin:0px;}
.popupView1 .popupDecoWrap{position:absolute;top:-1px;left:14px;}
.popupView1 .popupDecoWrap2{position:absolute;top:-1px;right:9px;}
.popupView1 .day1SuccessText{margin:22px 0px 0px 0px;font-size:14px;color:#767676;}
.popupView1 .day1SuccessImg{width:78px;height:56px;margin:37px 0px 36px 0px}
.popupView1 .day2SuccessImg{width:58px;height:58px;margin:32px 0px 32px 0px}
.popupView1 .day3SuccessImg{width:77px;height:60px;margin:28px 0px 24px 0px}
#blind_box{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:2;}
.mainBtn1{width:100%;height:73px;background-color:#7336d0;position:relative}
.mainBtn1 p{color:#ffffff;font-size:16px;margin:0px;padding:27px 0px 0px 27px;}
.mainBtn1 img{width:27px;height:27px;vertical-align:sub;margin-right:12px;position:absolute;left:60px;top:24px}
.mainBtn2{width:100%;height:73px;background-color:#7336d0;position:relative}
.mainBtn2 p{color:#ffffff;font-size:16px;margin:0px;padding:27px 0px 0px 27px;opacity:0.1}
.mainBtn2 img{width:27px;height:27px;vertical-align:sub;margin-right:12px;position:absolute;left:60px;top:24px}
.mainBtn3{width:100%;height:73px;background-color:#7336d0;position:relative;}
.mainBtn3 p{color:#ffffff;font-size:16px;margin:0px;padding:27px 0px 0px 27px;}
.mainBtn3 img{width:27px;height:27px;vertical-align:sub;margin-right:12px;position:absolute;left:60px;top:24px}
.mainText1{padding:50px 0px 0px 0px;margin:0px}
.tabWrap1{height:140px;}
