
.introback{
	background: url("../images/intro_background.png") no-repeat center center fixed; 
	background-size: cover;
}
body{
    background: #fff;
    margin:0;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
a {
    text-decoration: none;
}
#tab-container{
    position:fixed;
    bottom:0px;
    width: 100%;
}
#tab-container ul{
    margin:0px;
    list-style: none;
    list-style-position: outside;
    width: 100%;
    padding:0px;
}
#tab-container ul.tab-menu li{
    display: block;
    float: left;
    position: relative;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    background: #662ac3;
    color:#9079bc;
    cursor: default;
    width:33.333333333333333333333333%;
    text-align: center;
    font-size:16px;
   


}
#tab-container ul.tab-menu li.active{
    background: #ffffff;
    color: #662ac3;
    text-align: center;

}

.tab-content{
    margin: 0 auto;
    background: #efefef;
    background: #fff;
    text-align: center;
    display: none;
}
#tab-container div.active{
    display: block;
}
p {
    font-size:15px;
    color:#7b7b7b;
}

@media screen and (max-width: 320px) {
    .mainpageTop {margin:40px 0px 18px 0px;text-align:center}
    .mainpageTopImg {width:69px;height:auto;}
    .mainPlant{width:69px;height:92px;position:absolute;top:-92px;left:125px}
    .mainpageMid {text-align:center;}
    .mainpageMid p{font-size:28px;text-overflow:ellipsis;font-weight:bold;color:#ffffff;margin:0px 14px;word-break:keep-all;text-decoration-style:solid}

    /*파티클*/
    .mainParticle1{width:10px;position:absolute;top:-150px;left:12px;}
    .mainParticle2{width:10px;position:absolute;top:-125px;left:37px;}
    .mainParticle3{width:10px;position:absolute;top:-94px;left:37px;}
    .mainParticle4{width:10px;position:absolute;top:-80px;left:55px;}
    .mainParticle5{width:10px;position:absolute;top:-100px;left:250px;}
    .mainParticle6{width:10px;position:absolute;top:-50px;left:280px;}
    .mainParticle7{width:10px;position:absolute;top:-35px;left:260px;}
    .mainParticle8{width:10px;position:absolute;top:-250px;left:280px;}
    .mainParticle9{width:10px;position:absolute;top:-230px;left:300px;}

}
@media screen and (min-width: 321px) and (max-width: 480px) {
  
}
@media screen and (min-width: 1024px) {
   
}
