
.introback{
	background: url("../images/intro_background.png") no-repeat center center fixed; 
	background-size: cover;
}
body{
    background: #fff;
    margin:0;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
a {
    text-decoration: none;
}
#tab-container{
    position:fixed;
    bottom:0px;
    width: 100%;
    overflow: hidden;
}
#tab-container ul{
    margin:0px;
    list-style: none;
    list-style-position: outside;
    width: 100%;
}
#tab-container ul.tab-menu li{
    display: block;
    float: left;
    position: relative;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    background: #662ac3;
    border: 1px solid #ddc;
    border-bottom: none;
    border-width: 1px;
    color:#9079bc;
    cursor: default;
    height: 45px;
    width:auto;
    text-align: center;


}
#tab-container ul.tab-menu li.active{
    background: #ffffff;
    color: #662ac3;
    height: 45px;
    border-bottom: 0;
    text-align: center;
}
.tab-top-border {
    border-bottom: 1px solid #d0ccc9;
}
.tab-content{
    margin: 0 auto;
    background: #efefef;
    background: #fff;
    border-top-style: none;
    text-align: center;
    padding: 10px;
    display: none;
    height: 138px;
}
#tab-container div.active{
    display: block;
}
