.introback{background:url("../images/image_big/background.png") no-repeat center center fixed;background-size:cover;}
.bottomBtn{width:100%;height:88px;position:fixed;bottom:0px;text-align:center;background-color:#ffffff;-webkit-animation-timing-function:ease;-webkit-animation-duration:0.5s;-webkit-animation-fill-mode:forwards}
.bottomBtn p{color:#662ac3;font-size:24px;font-weight:bold;margin:28px}
.bottomBtn img{width:31px;height:31px;vertical-align:sub;margin-right:14px;}
@-webkit-keyframes downBtn{from{bottom:0px;}to{bottom:-88px;}
}
.popupView1{margin:0px;width:90%;background:#ffffff;text-align:center;display:none;position:absolute;left:50%;top:50%;z-index:3;border-radius:3px 3px 6px 6px;}
.popupView1.on{display:block}
.popupView1.on .popupView1Btn{width:100%;height:76px;background-color:#7336d0;border-radius:0px 0px 3px 3px;}
.popupView1.on .popupView1Btn p{color:#ffffff;font-size:19px;font-weight:bold;margin:0px;padding:25px 0px}
.popupView1 h1{margin:70px 0px 0px 0px;font-size:30px;font-weight:bold;text-decoration-style:solid}
.popupView1 h3{margin:56px 0px 0px 0px;font-size:21px;font-weight:bold;color:#767676}
.popupView1 .fightingText{margin:10px 0px 48px 0px;font-size:15px;color:#C2C2C2}
.popupView1 .popupText1{border-bottom-width:3px;border-bottom-style:solid;padding-bottom:9px}
.popupView1 input{margin:46px 0px 46px 0px;width:270px;background:#ffffff;text-align:center;font-size:16px;border-top-style:none;border-left-style:none;border-right-style:none;padding:10px}
.popupView1 .popupDeco{position:relative;width:48px;height:54px}
.popupView1 .popupDecoImg{position:relative;width:8px;height:8px}
.popupView1 .popupDecoText{position:absolute;top:15px;left:7px;color:#ffffff;font-size:11px;font-weight:bold;margin:0px;}
.popupView1 .popupDecoWrap{position:absolute;top:-1px;left:14px;}
.popupView1 .popupDecoWrap2{position:absolute;top:-1px;right:9px;}
#blind_box{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:2;}
.carousel5 li {width:100%;height:100%;font-size:30px;background-color: #fff;}
.carousel-demo {margin-top:48px;margin-bottom:41px;width:100%;display:inline-block;text-align: center;}
ul[rn-carousel] {width:60%;height:90px;margin: 0 auto;}
ul[rn-carousel] {overflow: hidden;padding: 0;white-space: nowrap;position: relative;-webkit-perspective: 1000px;-ms-perspective: 1000px;perspective: 1000px;-ms-touch-action: pan-y;touch-action: pan-y;}
ul[rn-carousel] > li {color: black;-webkit-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;overflow: visible;vertical-align: top;position: absolute;left: 0;right: 0;white-space: normal;padding: 0;margin: 0;list-style-type: none;width: 100%;height: 100%;display: inline-block; }
.plantBottomLine{margin-bottom:0px;margin-top:0px;width:85px;color:#8f5ed9;border:1px solid #8f5ed9}
.mainplant1{background:url(../images/mainPlant1.png) no-repeat center center;background-size:55px}
.mainplant2{background:url(../images/mainPlant2.png) no-repeat center center;background-size:51.5px}
.mainplant3{background:url(../images/mainPlant3.png) no-repeat center center;background-size:61px}
.mainplant4{background:url(../images/mainPlant4.png) no-repeat center center;background-size:45px}
.mainplant5{background:url(../images/mainPlant5.png) no-repeat center center;background-size:52.7px}
.mainplant6{background:url(../images/mainPlant6.png) no-repeat center center;background-size:50.3px}
.mainplant7{background:url(../images/mainPlant7.png) no-repeat center center;background-size:49.5px}
.mainplant8{background:url(../images/mainPlant8.png) no-repeat center center;background-size:58px}
.mainplant9{background:url(../images/mainPlant9.png) no-repeat center center;background-size:38px}
.mainplant10{background:url(../images/mainPlant10.png) no-repeat center center;background-size:55px}
.rn-carousel-control {position: absolute;top: 39%;opacity: 1;cursor: pointer;}
.rn-carousel-control.rn-carousel-control-prev {left: 44px;}
.rn-carousel-control.rn-carousel-control-prev:before {background:url('../images/image_big/plantLeft.png') no-repeat center center; background-size: 14px;padding:10px;content:' ';}
.rn-carousel-control.rn-carousel-control-next {right:44px;}
.rn-carousel-control.rn-carousel-control-next:before {background:url('../images/image_big/plantRight.png') no-repeat center center;background-size: 14px;padding:10px;content:' ';}

}

