.introback{background:url("../images/image_big/background.png") no-repeat center center fixed;background-size:cover;}
.bottomBtn{width:100%;height:98px;position:fixed;bottom:0px;text-align:center;background-color:#ffffff;-webkit-animation-timing-function:ease;-webkit-animation-duration:0.5s;-webkit-animation-fill-mode:forwards}
.bottomBtn p{color:#662ac3;font-size:27px;font-weight:bold;margin:31px}
.bottomBtn img{width:35px;height:35px;vertical-align:sub;margin-right:5px;}
@-webkit-keyframes downBtn{from{bottom:0px;}to{bottom:-98px;}
}
.popupView1{margin:0px;width:90%;background:#ffffff;text-align:center;display:none;position:absolute;left:50%;top:50%;z-index:3;border-radius:3px 3px 6px 6px;}
.popupView1.on{display:block}
.popupView1.on .popupView1Btn{width:100%;height:84px;background-color:#7336d0;border-radius:0px 0px 3px 3px;}
.popupView1.on .popupView1Btn p{color:#ffffff;font-size:21px;font-weight:bold;margin:0px;padding:28px 0px}
.popupView1 h1{margin:78px 0px 0px 0px;font-size:34px;font-weight:bold;text-decoration-style:solid}
.popupView1 h3{margin:53px 0px 0px 0px;font-size:25px;font-weight:bold;color:#767676}
.popupView1 .fightingText{margin:12px 0px 53px 0px;font-size:17px;color:#C2C2C2}
.popupView1 .popupText1{border-bottom-width:3px;border-bottom-style:solid;padding-bottom:8px}
.popupView1 input{margin:52px 0px 52px 0px;width:297px;background:#ffffff;text-align:center;font-size:18px;border-top-style:none;border-left-style:none;border-right-style:none;padding:12px}
.popupView1 .popupDeco{position:relative;width:53px;height:59.5px}
.popupView1 .popupDecoImg{position:relative;width:9px;height:9px}
.popupView1 .popupDecoText{position:absolute;top:17px;left:8px;color:#ffffff;font-size:12px;font-weight:bold;margin:0px;}
.popupView1 .popupDecoWrap{position:absolute;top:-1px;left:14px;}
.popupView1 .popupDecoWrap2{position:absolute;top:-1px;right:9px;}
#blind_box{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:2;}
.carousel5 li {width:100%;height:100%;font-size:30px;background-color: #fff;}
.carousel-demo {margin-top:53px;margin-bottom:45px;width:100%;display:inline-block;text-align: center;}
ul[rn-carousel] {width:60%;height:116px;margin: 0 auto;}
ul[rn-carousel] {overflow: hidden;padding: 0;white-space: nowrap;position: relative;-webkit-perspective: 1000px;-ms-perspective: 1000px;perspective: 1000px;-ms-touch-action: pan-y;touch-action: pan-y;}
ul[rn-carousel] > li {color: black;-webkit-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;overflow: visible;vertical-align: top;position: absolute;left: 0;right: 0;white-space: normal;padding: 0;margin: 0;list-style-type: none;width: 100%;height: 100%;display: inline-block; }
.plantBottomLine{margin-bottom:0px;margin-top:0px;width:73px;color:#8f5ed9;border:1px solid #8f5ed9}
.mainplant1{background:url(../images/image_big/mainPlant1.png) no-repeat center center;background-size:61px}
.mainplant2{background:url(../images/image_big/mainPlant2.png) no-repeat center center;background-size:57px}
.mainplant3{background:url(../images/image_big/mainPlant3.png) no-repeat center center;background-size:68px}
.mainplant4{background:url(../images/image_big/mainPlant4.png) no-repeat center center;background-size:49px}
.mainplant5{background:url(../images/image_big/mainPlant5.png) no-repeat center center;background-size:58px}
.mainplant6{background:url(../images/image_big/mainPlant6.png) no-repeat center center;background-size:55px}
.mainplant7{background:url(../images/image_big/mainPlant7.png) no-repeat center center;background-size:63px}
.mainplant8{background:url(../images/image_big/mainPlant8.png) no-repeat center center;background-size:58px}
.mainplant9{background:url(../images/image_big/mainPlant9.png) no-repeat center center;background-size:42px}
.mainplant10{background:url(../images/image_big/mainPlant10.png) no-repeat center center;background-size:61px}
.rn-carousel-control {position: absolute;top: 39%;opacity: 1;cursor: pointer;}
.rn-carousel-control.rn-carousel-control-prev {left: 44px;}
.rn-carousel-control.rn-carousel-control-prev:before {background:url('../images/image_big/plantLeft.png') no-repeat center center; background-size: 16px;padding:10px;content:' ';}
.rn-carousel-control.rn-carousel-control-next {right:44px;}
.rn-carousel-control.rn-carousel-control-next:before {background:url('../images/image_big/plantRight.png') no-repeat center center;background-size: 16px;padding:10px;content:' ';}



